<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Email:</b>
  <%= @player.email %>
</p>

<p>
  <b>Cash:</b>
  <%= @player.cash %>
</p>

<p>
  <b>Level:</b>
  <%= @player.level.name %>
</p>

<br />

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
